Repository shaka-project/shaka-player, pull requests merged in 2022-06, with the labels that each got.

#4263 fix(abr): take into account Network Info API in ABR getBandwidthEstimate
  lib/abr/simple_abr_manager.js
Labels: type: bug

#4258 fix(HLS): Fix duplicate hinted segments
  lib/hls/hls_parser.js
  test/hls/hls_live_unit.js
Labels: type: bug, component: HLS

#4249 feat: add listenable events for playback stall detection and gap jumping
  CONTRIBUTORS
  externs/shaka/player.js
  lib/cast/cast_proxy.js
  lib/cast/cast_receiver.js
  lib/media/gap_jumping_controller.js
  lib/media/playhead.js
  lib/media/stall_detector.js
  lib/media/streaming_engine.js
  lib/player.js
  lib/util/fake_event.js
  lib/util/stats.js
  test/media/playhead_unit.js
  test/media/stall_detector_unit.js
  test/media/streaming_engine_integration.js
  test/player_integration.js
  test/test/util/simple_fakes.js
  test/ui/ui_unit.js
  ui/statistics_button.js
Labels: type: enhancement

#4272 fix: Remove IE 11 from default browsers for Windows (#4271)
  AUTHORS
  CONTRIBUTORS
  build/test.py
Labels: type: bug, platform: Windows, component: tests

#4276 fix(demo): erroneous FairPlay keysystem in demo
  demo/common/assets.js
Labels: type: bug, component: demo page

#4275 fix(demo): allow switch between UITextDisplayer and SimpleTextDisplayer
  demo/main.js
Labels: type: bug, component: demo page, component: captions/subtitles

#4274 feat(webvtt): add support for karaoke style text in WebVTT
  lib/text/vtt_text_parser.js
  test/text/vtt_text_parser_unit.js
Labels: type: enhancement, component: captions/subtitles, component: WebVTT

#4270 fix: Use middle segment when guessing MIME type on HLS (#4269)
  lib/hls/hls_parser.js
Labels: type: bug, component: HLS

#4310 feat: EOS set-top box wrongly identifies as an Apple device.
  lib/util/platform.js
Labels: type: enhancement, platform: TV/STB

#4316 fix: Fix getVideoPlaybackQuality in WebOS 3
  lib/polyfill/videoplaybackquality.js
Labels: type: bug, platform: WebOS

#4320 fix: Fix MediaCapabilities polyfill on Playstation 4
  lib/polyfill/media_capabilities.js
  lib/util/platform.js
Labels: type: bug, platform: Playstation 4

#4323 docs: Deprecate the mailing list for releases
  README.md
  docs/tutorials/welcome.md
Labels: type: docs

#4322 docs: Add Playstation information to README
  README.md
Labels: platform: Playstation 4, platform: Playstation 5

#4309 feat: Add support for Modern EME and legacy Apple Media Keys for FairPlay
  build/types/complete
  build/types/core
  build/types/fairplay
  build/types/polyfill
  docs/tutorials/fairplay.md
  lib/hls/hls_parser.js
  lib/media/drm_engine.js
  lib/polyfill/patchedmediakeys_apple.js
  lib/util/error.js
  lib/util/fairplay_utils.js
  shaka-player.uncompiled.js
Labels: type: enhancement, component: FairPlay
