Repository shaka-project/shaka-player, pull requests merged in 2022-04, with the labels that each got.

#4095 ci: Test on Safari 14
  .github/workflows/build-and-test.yaml
  .github/workflows/safari-homedir-launcher.sh
Labels: type: CI

#4097 feat(HLS): Re-add TS support to Safari
  lib/polyfill/mediasource.js
Labels: browser: Safari

#4116 fix(demo): Fix default demo index versions
  app-engine/demo-version-index/main.py
Labels: component: demo page

#4089 feat!: Remove deprecated features, update upgrade guides
  docs/tutorials/index.json
  docs/tutorials/upgrade-v2-5.md
  docs/tutorials/upgrade-v3.md
  docs/tutorials/upgrade.md
  externs/shaka/text.js
  lib/cast/cast_utils.js
  lib/media/segment_index.js
  lib/offline/storage.js
  lib/player.js
  lib/text/cue.js
  lib/text/simple_text_displayer.js
  lib/text/text_engine.js
  lib/text/ui_text_displayer.js
  lib/text/web_vtt_generator.js
  lib/util/functional.js
  lib/util/uint8array_utils.js
  test/dash/dash_parser_segment_template_unit.js
  test/media/segment_index_unit.js
  test/offline/manifest_convert_unit.js
  test/util/functional_unit.js
  ui/controls.js
  ui/ui.js
Labels: type: docs

#4117 test: Run tests on a custom Selenium grid
  .github/workflows/custom-actions/set-commit-status/action.yaml
  .github/workflows/selenium-lab-tests.yaml
  build/shaka-lab.yaml
  build/test.py
  docs/tutorials/index.json
  docs/tutorials/selenium-grid-config.md
  karma.conf.js
  package-lock.json
  package.json
Labels: type: CI, component: tests

#4174 test: Run DRM tests by default
  .github/workflows/build-and-test.yaml
  .github/workflows/selenium-lab-tests.yaml
  build/README.md
  build/test.py
Labels: component: tests

#4176 fix(offline): Speed up offline storage by ~87%
  build/types/core
  lib/offline/storage.js
  lib/util/mutex.js
Labels: type: performance, component: offline
