Repository shaka-project/shaka-player, pull requests merged in 2023-05, with the labels that each got.

#5207 docs: Update Java download link
  docs/tutorials/welcome.md
Labels: type: docs

#5205 fix: Transmux containerless to the correct mimetype
  lib/hls/hls_parser.js
  lib/media/media_source_engine.js
  lib/transmuxer/muxjs_transmuxer.js
  lib/util/mime_utils.js
  test/hls/hls_parser_unit.js
Labels: type: bug, component: HLS, priority: P2

#5210 fix(DASH): fix bufferBehind broken by thumbnails with TimelineSegmentIndex
  lib/dash/segment_template.js
Labels: type: bug, priority: P2, component: DASH

#5214 fix: media source object URL revocation
  lib/media/media_source_engine.js
  test/media/media_source_engine_unit.js
Labels: type: bug, priority: P2

#5216 feat(DASH): Expose accessibility purpose in track
  externs/shaka/manifest.js
  externs/shaka/player.js
  lib/dash/dash_parser.js
  lib/hls/hls_parser.js
  lib/mss/mss_parser.js
  lib/offline/manifest_converter.js
  lib/player.js
  lib/util/periods.js
  lib/util/stream_utils.js
  test/dash/dash_parser_manifest_unit.js
  test/media/adaptation_set_unit.js
  test/offline/manifest_convert_unit.js
  test/offline/storage_integration.js
  test/player_unit.js
  test/test/util/manifest_generator.js
  test/test/util/streaming_engine_util.js
Labels: type: enhancement, type: accessibility, component: DASH

#5220 fix(HLS): Fix seekRange for EVENT playlist not using EXT-X-PLAYLIST-TYPE
  lib/hls/hls_parser.js
Labels: type: bug, component: HLS, priority: P2

#5224 fix: Document Picture-in-Picture: Use width/height instead of initialAspectRatio
  externs/pictureinpicture.js
  ui/pip_button.js
Labels: type: bug, priority: P2

#5223 feat: Enhance Audio Language Switching
  AUTHORS
  CONTRIBUTORS
  lib/util/language_utils.js
  test/util/language_utils_unit.js
Labels: type: enhancement, priority: P3

#5217 feat: Add support for changing codecs in MediaSourceEngine
  lib/media/media_source_capabilities.js
  lib/media/media_source_engine.js
  lib/media/streaming_engine.js
  test/media/media_source_engine_integration.js
  test/media/media_source_engine_unit.js
  test/media/streaming_engine_unit.js
Labels: type: enhancement, priority: P2

#5208 feat: Add MP3 transmuxer
  build/types/transmuxer
  docs/tutorials/upgrade.md
  externs/shaka/transmuxer.js
  lib/media/media_source_engine.js
  lib/transmuxer/mp3_transmuxer.js
  lib/transmuxer/mpeg_audio.js
  lib/util/id3_utils.js
  lib/util/mp4_generator.js
  shaka-player.uncompiled.js
  test/transmuxer/transmuxer_integration.js
Labels: type: enhancement, priority: P2
