Repository shaka-project/shaka-player, pull requests merged in 2024-12, with the labels that each got.

#7699 fix(UI): Allow pause non-linear video ads
  ui/controls.js
  ui/play_button.js
Labels: type: bug, component: UI, component: ads, priority: P2

#7701 feat(Ads): Add basic support to DASH OverlayEvent
  lib/ads/ad_manager.js
  lib/ads/interstitial_ad_manager.js
  test/ads/interstitial_ad_manager_unit.js
Labels: type: enhancement, component: ads, priority: P3

#7704 fix: Allow set maxLatency and minLatency to 0
  lib/player.js
Labels: type: bug, priority: P2

#7702 feat(Ads): Parse non-linear VAST ads
  lib/ads/ad_utils.js
  lib/ads/interstitial_ad_manager.js
  test/ads/interstitial_ad_manager_unit.js
Labels: type: enhancement, component: ads, priority: P3

#7708 fix(Ads): Stop properly interstitial ads
  lib/ads/interstitial_ad_manager.js
Labels: type: bug, component: ads, priority: P2

#7707 fix(UI): Show presentation time when playing non-linear ads
  ui/presentation_time.js
Labels: type: bug, component: UI, component: ads, priority: P2

#7698 fix(preload): Wait for drm keys when preloading
  lib/media/drm_engine.js
  lib/media/preload_manager.js
  test/test/util/fake_drm_engine.js
Labels: type: bug, priority: P2

#7709 fix(Ads): Only display the secondary video if necessary
  lib/ads/interstitial_ad_manager.js
Labels: type: bug, component: ads, priority: P2

#7710 feat(Ads): Support HTMLResource on non-linear VAST ads
  lib/ads/ad_utils.js
Labels: type: enhancement, component: ads, priority: P3

#7711 fix(UI): Hide ad position when the ad is non-linear
  ui/ad_position.js
Labels: type: bug, component: UI, component: ads, priority: P2

#7712 feat(Ads): Add support for images and iframes in interstitials
  build/types/ads
  lib/ads/interstitial_ad_manager.js
  lib/ads/interstitial_static_ad.js
Labels: type: enhancement, component: ads, priority: P3

#7715 ci: Fix coverage workflow run
  .github/workflows/report-incremental-coverage.yaml
Labels: type: CI

#7716 chore: Use promiseWithTimeout where possible
  lib/media/drm_engine.js
  lib/player.js
Labels: type: code health

#7717 feat: Add configuration to ignore SCTE214 supplemental codecs
  demo/config.js
  externs/shaka/player.js
  lib/dash/dash_parser.js
  lib/hls/hls_parser.js
  lib/util/player_configuration.js
  test/dash/dash_parser_manifest_unit.js
  test/hls/hls_parser_unit.js
Labels: type: enhancement, priority: P3

#7719 test: Add test about Dolby Vision preference
  test/util/stream_utils_unit.js
Labels: component: tests

#7723 fix(DASH): Error due to deleted stream
  lib/dash/dash_parser.js
Labels: type: bug, priority: P1, component: DASH

#7728 fix(UI): Fix playback rate resets when pausing or playing the video
  ui/controls.js
Labels: type: bug, component: UI, priority: P2

#7700 fix: Codec switch reload - apply boundaries correctly
  lib/media/media_source_engine.js
  lib/media/streaming_engine.js
Labels: type: bug, priority: P1

#7720 fix: Fix support for supplemental codecs (Dolby Vision)
  lib/dash/dash_parser.js
  lib/hls/hls_parser.js
  test/dash/dash_parser_manifest_unit.js
  test/hls/hls_parser_unit.js
Labels: type: bug, component: HLS, priority: P2, component: DASH

#7729 perf: Reduce calls to isTypeSupported
  lib/util/stream_utils.js
  test/player_unit.js
Labels: type: performance, priority: P1

#7734 feat(Ads): Allow OverlayEvents without viewport
  lib/ads/interstitial_ad_manager.js
Labels: type: enhancement, component: ads, priority: P3

#7736 fix: Fix usage of keySystemsMapping
  lib/media/drm_engine.js
  lib/media/manifest_filterer.js
  lib/offline/storage.js
  lib/util/stream_utils.js
Labels: type: bug, priority: P2, platform: Windows, component: Widevine

#7737 feat: Add streaming.preferNativeDash config
  demo/config.js
  externs/shaka/player.js
  lib/player.js
  lib/util/mime_utils.js
  lib/util/player_configuration.js
  test/player_unit.js
Labels: type: enhancement, priority: P3, component: DASH

#7735 fix(Ads): Fix bad static overlay ad position
  lib/ads/interstitial_ad_manager.js
Labels: type: bug, component: ads, priority: P2

#7738 fix(Ads): Remove iframe border in overlays
  lib/ads/interstitial_ad_manager.js
Labels: type: bug, component: ads, priority: P2

#7740 fix(Ads): Don't allow play an overlay video ad using the base video
  lib/ads/interstitial_ad_manager.js
Labels: type: bug, component: ads, priority: P2

#7742 fix(Ads): Calculate the mimeType in an earlier step so that there is no impact on the ad playback
  lib/ads/interstitial_ad_manager.js
  test/ads/interstitial_ad_manager_unit.js
Labels: type: bug, component: ads, priority: P3

#7743 fix(Xbox): Simplify the use of WebView2
  docs/tutorials/screen-resolution-detection.md
  lib/util/platform.js
Labels: type: bug, priority: P3, platform: Xbox

#7747 feat(UI): Add option to show the video codec name
  ui/externs/ui.js
  ui/resolution_selection.js
  ui/ui.js
Labels: type: enhancement, component: UI, priority: P3

#7762 fix(Docs): Remove info about small/large gaps from manual
  docs/design/gap-jumping.md
Labels: type: bug, type: docs, priority: P2

#7783 fix: re-open the `MediaSource` if `readyState` is not open when the `init()` method is called.
  lib/media/media_source_engine.js
  test/media/media_source_engine_unit.js
Labels: type: bug, priority: P1

#7748 feat: Simplify the use of low latency
  demo/config.js
  docs/tutorials/config.md
  externs/shaka/manifest_parser.js
  externs/shaka/player.js
  lib/cast/cast_utils.js
  lib/dash/dash_parser.js
  lib/hls/hls_parser.js
  lib/offline/storage.js
  lib/player.js
  lib/util/player_configuration.js
  test/dash/dash_parser_content_protection_unit.js
  test/dash/dash_parser_live_unit.js
  test/dash/dash_parser_manifest_unit.js
  test/dash/dash_parser_patch_unit.js
  test/dash/dash_parser_segment_base_unit.js
  test/dash/dash_parser_segment_list_unit.js
  test/dash/dash_parser_segment_template_unit.js
  test/hls/hls_live_unit.js
  test/hls/hls_parser_unit.js
  test/mss/mss_parser_unit.js
  test/player_unit.js
  test/test/util/dash_parser_util.js
  test/test/util/mss_parser_util.js
  test/util/content_steering_manager_unit.js
Labels: type: enhancement, priority: P3

#7786 fix(UI): Video starts playing automatically when selecting a playback rate
  lib/player.js
  ui/fast_forward_button.js
  ui/rewind_button.js
Labels: type: bug, component: UI, priority: P2

#7787 fix(UI): Allow 1x playback rate when default playback rate is not x1
  ui/playback_rate_selection.js
Labels: type: bug, component: UI, priority: P2

#7788 chore: Move DrmEngine and DrmUtils to drm namespace
  build/types/core
  lib/drm/drm_engine.js
  lib/drm/drm_utils.js
  lib/hls/hls_parser.js
  lib/media/manifest_filterer.js
  lib/media/preload_manager.js
  lib/offline/session_deleter.js
  lib/offline/storage.js
  lib/player.js
  lib/polyfill/media_capabilities.js
  lib/polyfill/patchedmediakeys_apple.js
  lib/polyfill/patchedmediakeys_webkit.js
  lib/util/periods.js
  lib/util/platform.js
  lib/util/stream_utils.js
  test/cast/cast_receiver_integration.js
  test/drm/drm_engine_integration.js
  test/drm/drm_engine_unit.js
  test/drm/drm_utils_unit.js
  test/offline/storage_integration.js
  test/polyfill/media_capabilities_unit.js
  test/test/util/fake_drm_engine.js
Labels: type: code health

#7790 feat(HLS): Add support for getting license server url for PlayReady
  lib/hls/hls_parser.js
Labels: type: enhancement, component: HLS, priority: P3

#7793 feat(Ads): Expose the interstitial player
  externs/shaka/ads.js
  lib/ads/ad_manager.js
  lib/ads/interstitial_ad_manager.js
  test/test/util/fake_ad_manager.js
Labels: type: enhancement, component: ads, priority: P3

#7791 fix(HLS): Correctly identify webvtt subtitles with cmft extension
  lib/hls/hls_parser.js
  test/hls/hls_parser_unit.js
Labels: type: bug, component: HLS, component: captions/subtitles, priority: P2

#7753 feat: add support for multiple robustness levels in drm
  demo/config.js
  demo/main.js
  docs/tutorials/upgrade.md
  externs/shaka/player.js
  lib/drm/drm_engine.js
  lib/player.js
  lib/util/player_configuration.js
  lib/util/stream_utils.js
  test/drm/drm_engine_unit.js
Labels: type: enhancement, priority: P3

#7797 fix: Don't ignore the license server in manifest when another key-system has license server in configuration
  lib/drm/drm_engine.js
  test/drm/drm_engine_unit.js
Labels: type: bug, priority: P1

#7805 fix: Remove useless deprecation in UITextDisplayer and add some guards in SimpleTextDisplayer
  lib/player.js
  lib/text/simple_text_displayer.js
  lib/text/ui_text_displayer.js
  test/test/util/layout_tests.js
  test/text/ui_text_displayer_unit.js
Labels: type: bug, component: captions/subtitles, priority: P2

#7802 fix(HLS): Do not use EXT-X-PROGRAM-DATE-TIME on vod when there is only video or audio
  lib/hls/hls_parser.js
Labels: type: bug, component: HLS, priority: P1

#7800 chore(Demo): Ignore errors when using keySystemsMapping in the console
  demo/main.js
Labels: component: demo page

#7798 chore(Demo): Propagate asset.mimeType correctly
  demo/main.js
Labels: component: demo page

#7804 fix(Ads): Apply X-PLAYOUT-LIMIT to entire interstitial
  docs/tutorials/ad_monetization.md
  externs/shaka/ads.js
  lib/ads/ad_utils.js
  lib/ads/interstitial_ad_manager.js
  test/ads/interstitial_ad_manager_unit.js
Labels: type: bug, component: ads, priority: P2

#7799 fix(Offline): Allow storage of MSS streams
  demo/common/assets.js
  externs/shaka/offline.js
  lib/offline/download_info.js
  lib/offline/download_manager.js
  lib/offline/manifest_converter.js
  lib/offline/storage.js
  test/offline/manifest_convert_unit.js
Labels: type: bug, priority: P1, component: offline, component: MSS

#7801 feat(Demo): Allow storage of MSS-PlayReady in demo
  demo/common/asset.js
  demo/common/assets.js
  demo/main.js
Labels: type: enhancement, component: demo page, priority: P3, component: PlayReady, component: MSS

#7809 feat: Check minHdcpVersion in probeSupport
  externs/shaka/player.js
  lib/drm/drm_engine.js
Labels: type: enhancement, component: EME, priority: P4

#7808 fix(Widevine): Add default audio/video robustness for Widevine
  demo/config.js
  externs/shaka/player.js
  lib/drm/drm_engine.js
  lib/drm/drm_utils.js
  lib/util/player_configuration.js
  test/drm/drm_utils_unit.js
Labels: type: bug, priority: P1, component: Widevine

#7807 chore(Demo): Add more assets from Microsoft
  demo/common/assets.js
  demo/main.js
Labels: component: demo page

#7814 test: Fix #EXTINF duration of disabled test
  test/test/assets/hls-ts-muxed-ac3-h264/media.m3u8
Labels: component: tests

#7815 fix(HLS): Disable audio/video correctly when loading a TS media playlist
  lib/hls/hls_parser.js
  lib/media/segment_utils.js
Labels: type: bug, component: HLS, priority: P2

#7816 fix: Fix ClearKey license on old CDMs
  lib/drm/drm_engine.js
  lib/drm/drm_utils.js
  test/drm/drm_utils_unit.js
Labels: type: bug, priority: P2, component: ClearKey

#7811 feat(Offline): Allow downloading some clearkey content without persistent license support
  demo/common/asset.js
  demo/main.js
  lib/drm/drm_engine.js
  lib/offline/storage.js
Labels: type: enhancement, priority: P3, component: offline
