Repository shaka-project/shaka-player, pull requests merged in 2024-03, with the labels that each got.

#6324 fix(demo): Remove max height of demo config tabs
  demo/demo.less
Labels: type: bug, component: demo page

#6330 revert: getPlayheadTimeAsDate() differs from X-EXT-PROGRAM-DATE-TIME
  lib/hls/hls_parser.js
  lib/media/presentation_timeline.js
Labels: type: bug, component: HLS

#6344 chore: Update getStats() docs WRT NaN
  externs/shaka/player.js
Labels: type: docs

#6342 test: update CMCD tests to allow them to be run individually
  test/util/cmcd_manager_unit.js
Labels: component: tests

#6366 docs: Add FAQ documentation for minimum recommended chunks
  docs/tutorials/faq.md
Labels: type: docs, priority: P4

#6362 feat: add `mediaSource.addExtraFeaturesToSourceBuffer`
  demo/config.js
  docs/tutorials/upgrade.md
  externs/shaka/player.js
  lib/media/media_source_engine.js
  lib/util/player_configuration.js
  test/media/media_source_engine_unit.js
Labels: type: enhancement, priority: P3

#6367 perf(Cast): memoize/cache canDisplayType results to reduce startup latency
  lib/polyfill/media_capabilities.js
Labels: type: performance, priority: P1, platform: Cast

#6364 perf(transmuxer): Improve performance on video transmuxing
  lib/transmuxer/h264.js
  lib/transmuxer/h265.js
Labels: type: performance, priority: P1, component: transmuxer

#6370 feat: Add segmentData info to SegmentReference
  lib/media/segment_reference.js
  lib/media/streaming_engine.js
Labels: type: enhancement, priority: P4

#6359 fix(Cast): Don't pause local video until the cast connection is established
  lib/cast/cast_proxy.js
  lib/cast/cast_sender.js
  test/cast/cast_proxy_unit.js
  test/cast/cast_sender_unit.js
Labels: type: enhancement, priority: P3, platform: Cast

#6365 feat(Ads): Add ability to set tracking URL for Media Tailor
  externs/shaka/ads.js
  lib/ads/ad_manager.js
  lib/ads/media_tailor_ad_manager.js
  test/test/util/fake_ad_manager.js
Labels: type: enhancement, component: ads, priority: P3

#6372 feat(HLS): Add ignoreManifestProgramDateTimeForTypes
  externs/shaka/player.js
  lib/hls/hls_parser.js
  lib/util/player_configuration.js
  test/demo/demo_unit.js
Labels: type: enhancement, component: HLS, priority: P3

#6361 fix: Add ManagedMediaSource support in MediaSource polyfill
  lib/polyfill/mediasource.js
Labels: type: bug, priority: P2

#6363 fix: Fix PES rollover in TS
  karma.conf.js
  lib/cea/ts_cea_parser.js
  lib/media/media_source_engine.js
  lib/util/ts_parser.js
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000024.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000025.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000026.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000027.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000028.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000029.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000030.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000031.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000032.ts
  test/test/assets/hls-ts-rollover/360p30_h264_48k_160_aac_ts-0000000033.ts
  test/test/assets/hls-ts-rollover/playlist.m3u8
  test/transmuxer/transmuxer_integration.js
Labels: type: bug, priority: P1, component: transmuxer
