Repository shaka-project/shaka-player, pull requests merged in 2025-08, with the labels that each got.

#8911 fix: Separate gap jumping seeks from user seeks
  lib/media/gap_jumping_controller.js
  lib/media/playhead.js
  lib/media/playhead_observer.js
  lib/player.js
Labels: type: bug, priority: P2

#8955 chore: Remove JSDoc for empty constructors
  demo/cast_receiver/receiver_app.js
  demo/main.js
  lib/abr/ewma_bandwidth_estimator.js
  lib/abr/simple_abr_manager.js
  lib/ads/ad_manager.js
  lib/ads/ads_stats.js
  lib/cea/cea_decoder.js
  lib/cea/dtvcc_packet_builder.js
  lib/cea/mp4_cea_parser.js
  lib/cea/ts_cea_parser.js
  lib/hls/manifest_text_parser.js
  lib/media/preference_based_criteria.js
  lib/media/segment_index.js
  lib/offline/download_progress_estimator.js
  lib/offline/indexeddb/storage_mechanism.js
  lib/offline/offline_manifest_parser.js
  lib/offline/storage_muxer.js
  lib/offline/stream_bandwidth_estimator.js
  lib/polyfill/orientation.js
  lib/polyfill/patchedmediakeys_apple.js
  lib/polyfill/patchedmediakeys_webkit.js
  lib/text/cue_region.js
  lib/text/mp4_ttml_parser.js
  lib/text/mp4_vtt_parser.js
  lib/text/srt_text_parser.js
  lib/util/event_manager.js
  lib/util/fake_event_target.js
  lib/util/mp4_parser.js
  lib/util/multi_map.js
  lib/util/operation_manager.js
  lib/util/periods.js
  lib/util/state_history.js
  lib/util/stats.js
  lib/util/switch_history.js
  lib/util/ts_parser.js
Labels: type: code health

#8966 fix: Add Orange STB Back To `requiresEncryptionInfoInAllInitSegments`
  lib/device/webkit_stb.js
Labels: type: bug, platform: TV/STB, priority: P1, component: streaming

#8977 feat(CMCD): Add cmsds key support
  externs/cmcd.js
  lib/util/cmcd_manager.js
  test/util/cmcd_manager_unit.js
Labels: type: enhancement, priority: P3, component: CMCD

#8988 fix(HLS): Fix HLS audio only stream does not play when URI field is omitted from #EXT-X-MEDIA
  lib/hls/hls_parser.js
  test/hls/hls_parser_unit.js
Labels: type: bug, component: HLS, priority: P1

#8973 feat(CMCD): Add bg key support
  externs/cmcd.js
  lib/util/cmcd_manager.js
  test/util/cmcd_manager_unit.js
Labels: type: enhancement, priority: P3, component: CMCD

#9003 chore: Update lcevc_dec.js to 1.3.0
  package-lock.json
  package.json
Labels: priority: P2

#8999 fix(ABR): Only update the variants if they are different
  externs/shaka/abr_manager.js
  lib/abr/simple_abr_manager.js
  lib/player.js
Labels: type: bug, priority: P2

#9004 fix(EMSG): Fix memory leak in EMSG handling
  lib/media/media_source_engine.js
Labels: type: bug, priority: P1, component: streaming

#9008 ci: Disable Safari-old while we investigate how to fix it
  .github/workflows/build-and-test.yaml
Labels: type: CI, browser: Safari

#9006 perf(DASH): Do not store duplicated pssh data buffers
  lib/dash/content_protection.js
  lib/dash/dash_parser.js
Labels: type: performance, priority: P1, component: DASH

#9001 feat: Allow update some prefer* config on the fly
  externs/shaka/player.js
  lib/player.js
  test/player_unit.js
Labels: type: enhancement, priority: P3

#9009 perf(HLS): Do not store duplicated pssh data buffers
  lib/hls/hls_parser.js
Labels: component: HLS, type: performance, priority: P1

#9012 chore(LCEVC): Update LCEVC Dual-Track contents
  demo/common/assets.js
Labels: component: demo page

#9013 fix: Fix videoBandwidth when using LCEVC dual track
  lib/util/stream_utils.js
Labels: type: bug, priority: P2

#8980 feat(CMCD): Add event mode support
  externs/shaka/player.js
  lib/cast/cast_utils.js
  lib/player.js
  lib/util/cmcd_manager.js
  test/util/cmcd_manager_unit.js
Labels: type: enhancement, priority: P3, component: CMCD

#9018 fix: Fix buffering states when rebuffering goal is 0
  build/types/core
  lib/media/buffering_observer.js
  lib/player.js
  lib/util/media_element_event.js
  test/media/buffering_observer_unit.js
Labels: type: bug, priority: P1, component: streaming

#9017 fix: Fix WebVTT position handling in UITextDisplayer
  lib/text/ui_text_displayer.js
  test/test/assets/screenshots/chrome-Android/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/chrome-Linux/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/chrome-Mac/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/chrome-Windows/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/firefox-Linux/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/firefox-Mac/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/firefox-Windows/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/msedge-Linux/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/msedge-Mac/webvtt-ui-align-center-position-10-size-10.png
  test/test/assets/screenshots/msedge-Windows/webvtt-ui-align-center-position-10-size-10.png
Labels: type: bug, priority: P2, component: WebVTT

#9019 test: Fix CMCD test on Tizen
  test/util/cmcd_manager_unit.js
Labels: component: tests, component: CMCD

#9020 docs: Update docs for v4.16 release
  maintained-branches.md
  roadmap.md
Labels: type: docs

#9029 perf: Remove unnecessary ABR update during load
  lib/player.js
Labels: type: performance, priority: P3
